h2 {
    color: #ffffff;
    text-align: center;
}

div.container {
    width: 50%;
    height: 40em;
    margin: auto;
    display: inline-block;
}

div.main {
    width: 10em;
    padding: 0.5em 1.5em 0.75em;
    border: 2px solid gray;
    border-radius: 10px;
    float: left;
    margin-top: 1.5em;
}

input[type=text], input[type=password] {
    width: 100%;
    margin-bottom: 0.75em;
    margin-top: 0.2em;
    border: 2px solid white;
    color: #4f4f4f;
    font-size: 20px;
    border-radius: 5px;
}

label {
    color: white;
    font-weight: bold;
}

input[type=button] {
    background-color: #4CAF50;;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    outline: none;
}

input[type=button]:hover {
    background-color: rgba(76, 175, 79, 0.466);
}